
body{
  padding: 3%;
  background-image: url("../images/rain-10.jpg");
    /*https://www.google.com/search?q=rain+on+window+background&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiQ4fD12dTTAhUO82MKHc7UB6cQ_AUICigB&biw=1366&bih=584#imgrc=_*/
    /*font-family: 'Permanent Marker', sans-serif;*/
    font-family: 'Rock Salt', sans-serif;
    /*font-family: 'Fontdiner Swanky', sans-serif;
    font-family: 'Frijole', sans-serif;
    font-family: 'Knewave', sans-serif;
    font-family: 'Mystery Quest', sans-serif;
    font-family: 'Trade Winds', sans-serif;
    font-family: 'Barrio', sans-serif;
    font-family: 'Ravi Prakash', sans-serif;*/
}

/***********************************************
head section
***********************************************/
#head{
  text-align: center;
  text-shadow: 1px 1px black;
  /*color: grey;*/

}


#me{
  max-width: 30%;
  box-shadow: 4px 4px black;

}
hr{
  border-top: 3px solid black;
}

/*****************************************
navigation section
******************************************/

#nav{
  background-color: rgba(0,0,0, 0.85);
  text-align: center;
  padding: 25px;

}

#nav button{
  background-color: rgb(0, 51, 102);
  margin-right: 10px;

}

#nav a{
  color: white;
}

.link{
  background-color:rgb(0, 51, 102);
  padding: 8px 25px;
  display: inline;
  border-radius: 5px;
  margin-right: 30px;

}

/**********************************
      BODY SECTION
***********************************/

#body{
  background-color: rgba(0,0,0, 0.85);
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  color: white;
  font-family: 'Ravi Prakash', sans-serif;

}

#body hr{
  /*color: red;*/
  border-top: 6px solid grey;
}

#body h4{
  margin: 20px 0;
  font-size: 1.8em;
}

#body h3{
  font-size: 2em;
}

#body h3{
  margin: 30px 0;
}

#body img{
  width: 110%;
  /*text-align: left;*/
  margin-left: -5%;
}

/*ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

li{
  padding: 0;
  margin: 50px 0;
}*/





/**********************************
      meidiq quaries
***********************************/


@media (min-width: 450px){
  #body img{
    width: 100%;
    margin: 0;
  }
  #body h3{
    margin: 40px 0;
  }
}

@media (min-width: 650px){

  #body img{
    /*width: 580px;*/
    margin: 0;
    padding: 0;
  }

  #body hr{
    /*color: red;*/
    margin-bottom: 50px;
  }

  #body h4{
    margin: 20px 0;
    font-size: 2em;
  }

  #body h3{
    font-size: 2.3em;
  }

}



@media (min-width: 850px){

  #body img{
    width: 750px;
  }

  #body h3{
    margin: 50px 0;
  }

  #body h4{
    font-size: 2.3em;
  }

  #body h3{
    font-size: 2.6em;
  }

}


@media (min-width: 1000px){

  #body img{
    width: 850px;
  }

}


/**********************************************

**********************************************/

@media (max-width: 640px){

  /*body{
    background-color: yellow;
    background-image: none;
  }*/

  #me{
    max-width: 40%;
  }


  .link {
    padding: 8px;
  }




}

@media (max-width: 490px){

  #me{
    max-width: 50%;

  }
  .link {
    display: block;
    max-width: 80%;
    margin: 0 auto;

  }

  .link + .link{
    margin-top: 15px;
  }

  #nav button{
    background-color: rgb(0, 51, 102);
    margin-right: 0;

  }

  #nav {
    box-sizing: border-box;

  }




}








/* */
