

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

body{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  /*background: linear-gradient(#848484, white);*/

}

.main{
  background: linear-gradient(darkblue,midnightblue,blue);

}

img{
  width: 50%;
  max-width: 100%;
}

/**********************************
  header section
**********************************/

.top{
  /*background: linear-gradient(darkblue,midnightblue,blue);*/
  background: linear-gradient(#848484, white);

}

header h1{
  /*margin: 0;*/
  padding: 0 10px;
  /*color: black;*/
  margin: 0;
  color: black;
}

header{
  margin: 0;
  padding: 10px 0 0;
  text-align: center;
  /*height: 212px;*/
  /*max-height: 212px;*/

}

header img{
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 100%;
}

header:hover, header a:hover, header h1:hover{
  color: green;
  text-decoration: none;
}


hr{
  margin: 0;
  padding: 0;
  border-top: 2px solid black;
}


/**********************************
  navigation section
**********************************/

nav{
  width: 100%;
  text-align: center;
  /*background: linear-gradient(#848484, white);*/
  /*background: linear-gradient(darkblue,midnightblue,blue);*/
  /*#848484,*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav a{
  display: block;
  color: black;
  width: 85%;
  margin: 15px auto;
  padding: 0;

  background-color: aliceblue;
  border-radius: 7px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;

}




/************************************************************
  Media queries section
************************************************************/


@media (min-width: 500px) {

  header {
    /*height: 70px;*/
  }
  header img{
    display: inline-block;
    width: 20%;
    height: 100%;
    max-height: 100%;
  }

  header h1{
    display: inline-block;
    margin: 6px 0 0;
  }


  /**********************************
    navigation section
  **********************************/


  nav{
    text-align: left;
    padding: 0;

  }
  nav a{
    text-align: center;
    display: inline-block;
    width: 31%;
    margin: 6px calc(1%/3);
    padding: 5px 0;

  }



}




@media (min-width: 780px) {

nav a{
    margin: 6px calc(3%/3);

  }



}





/*   */
